# Before you start :
   - These exercises are related to the Pivot table and correlation lessons.
   - Keep in mind that you need to use some of the functions you learned in the previous lessons.
   - All datasets are provided in the `your-code` folder of this lab.
   - Elaborate your codes and outputs as much as you can.
   - Try your best to answer the questions and complete the tasks and most importantly enjoy the process!!!

#### Import all the libraries that are necessary

In [1]:
# import libraries here
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as ss
from scipy.stats import norm
from pandas import pivot_table

# Challenge 1

#### Open the ` Employee.csv` file and name your dataset `employee`

In [65]:
# your answer here
employee = pd.read_csv('./Employee.csv')
employee.head(10)

     Name Department Education Gender      Title  Years  Salary
0    Jose         IT  Bachelor      M    analyst      1      35
1   Maria         IT    Master      F    analyst      2      30
2   David         HR    Master      M    analyst      2      30
3   Sonia         HR  Bachelor      F    analyst      4      35
4  Samuel      Sales    Master      M  associate      3      55
5     Eva      Sales  Bachelor      F  associate      2      55
6  Carlos         IT    Master      M         VP      8      70
7   Pedro         IT       Phd      M  associate      7      60
8     Ana         HR    Master      F         VP      8      70

#### What's the mean salary by department. 
##### Tip : There are 2 ways to do it - one way is with and the other way is without pivot tables. Do it both ways.

In [3]:
# your answer here-1st ways
table = pivot_table(employee, index=['Department'], aggfunc={'Salary':np.mean})
table

            Salary
Department
HR           45.00
IT           48.75
Sales        55.00

In [4]:
# your answer here-2nd way
table = employee.groupby(by='Department').agg({'Salary':'mean'})
table.head()

            Salary
Department
HR           45.00
IT           48.75
Sales        55.00

#### We want now to group the data by more than one column. Use Pandas pivot table function to select the mean salary by department and title

In [5]:
# your answer here
table = pivot_table(employee, index=['Department','Title'], aggfunc=np.mean)
table.head()

                      Salary  Years
Department Title
HR         VP           70.0    8.0
           analyst      32.5    3.0
IT         VP           70.0    8.0
           analyst      32.5    1.5
           associate    60.0    7.0

#### We want to display the number of years of work experience and the salary for each Title. Add Years as a column in your pivot table
*Hint: Use Pandas doc(see References in README.md) to explore the pivot_table() arguments*

In [6]:
# your answer here
table = pivot_table(employee, index=['Title','Years'], aggfunc=np.mean)
table

                 Salary
Title     Years
VP        8          70
analyst   1          35
          2          30
          4          35
associate 2          55
          3          55
          7          60

#### We want to know the information about the mean salary and number of employees in each department and for each job title

In [7]:
# your answer here
table = pivot_table(employee, values=['Salary','Name'], index=['Department','Title'], aggfunc={'Salary': np.mean, 'Name': len})
table

                      Name  Salary
Department Title
HR         VP            1    70.0
           analyst       2    32.5
IT         VP            1    70.0
           analyst       2    32.5
           associate     1    60.0
Sales      associate     2    55.0

#### We want to know for each department and for each job title the Salary's median,minimum,maximum and standard deviation. Comment your results

In [8]:
# your answer here
table = pivot_table(employee, values=['Salary'], index=['Department','Title'], aggfunc={'Salary': [np.median,min,max,np.std]})
table

                     Salary
                        max median   min       std
Department Title
HR         VP          70.0   70.0  70.0       NaN
           analyst     35.0   32.5  30.0  3.535534
IT         VP          70.0   70.0  70.0       NaN
           analyst     35.0   32.5  30.0  3.535534
           associate   60.0   60.0  60.0       NaN
Sales      associate   55.0   55.0  55.0  0.000000

#### Based on your comments, fill the missing values with an appropriate value

In [43]:
# your answer here

#fill NaN values with 0 because all NaN are due to the Std deviation of only one element does not make sense
table = pivot_table(employee, values=['Salary'], index=['Department','Title'], aggfunc={'Salary': [np.median,min,max,np.std]},fill_value="0")
table

                     Salary
                        max median   min      std
Department Title
HR         VP          70.0   70.0  70.0        0
           analyst     35.0   32.5  30.0  3.53553
IT         VP          70.0   70.0  70.0        0
           analyst     35.0   32.5  30.0  3.53553
           associate   60.0   60.0  60.0        0
Sales      associate   55.0   55.0  55.0        0

#### The stake holders want to know for each department the number of employees and how much money is spend on salaries. Could you provide that information?

In [10]:
# your answer here
table = pivot_table(employee, values=['Salary','Name'], index=['Department'], aggfunc={'Salary': sum, 'Name': len})
table

            Name  Salary
Department
HR             3     135
IT             4     195
Sales          2     110

#### For each Department and Title, we want to know the the total years of work experience and the mean salary

In [11]:
# your answer here
table = pivot_table(employee, values=['Years','Salary'], index=['Department','Title'], aggfunc={'Salary': np.mean, 'Years': len})
table

                      Salary  Years
Department Title
HR         VP           70.0      1
           analyst      32.5      2
IT         VP           70.0      1
           analyst      32.5      2
           associate    60.0      1
Sales      associate    55.0      2

#### Bonus

#### We now want to compute the mean salary after removing the maxima for each Department. Create the appropriate pivot table

#### * Hint: Write a custom function*

In [66]:
# your answer here--Your custom function here
max_salaries = employee.groupby(by='Department').agg({'Salary':'max'})
sum_of_salaries = employee.groupby(by='Department').agg({'Salary':'sum'})

salary = sum_of_salaries - max_salaries
personel = employee.groupby(by='Department').agg({'Name': lambda x : np.sum(pd.value_counts(x))})

#check in case there were more than one person in the department
if personel.Name[personel.Name <= 1] is not False:
    personel.Name = personel.Name -1
else:
    print("It can not be performed the calculation")

In [67]:
# your answer here
print(salary.Salary/personel.Name)

Department
HR       32.500000
IT       41.666667
Sales    55.000000
dtype: float64

# Challenge 2

#### Open the ` Fitbit.csv` file and name your dataset `fitbit`

In [105]:
# your answer here
fitbit = pd.read_csv('./Fitbit.csv')
fitbit.head(200)

,Date,Calorie burned,Steps,Distance,Floors,Minutes Sedentary,Minutes Lightly Active,Minutes Fairly Active,Minutes Very Active,Activity Calories,MinutesOfSleep,MinutesOfBeingAwake,NumberOfAwakings,LengthOfRestInMinutes
0,08-05-2015,1934,905,0.65,0,1.355,46,0,0,1680,384,26,23,417
1,09-05-2015,3631,18925,14.11,4,611.000,316,61,60,2248,454,35,21,491
2,10-05-2015,3204,14228,10.57,1,602.000,226,14,77,1719,387,46,25,436
3,11-05-2015,2673,6756,5.02,8,749.000,190,23,4,9620,311,31,21,350
4,12-05-2015,2495,502,3.73,1,876.000,171,0,0,7360,407,65,44,491
5,13-05-2015,276,779,5.79,15,726.000,172,34,18,1094,405,47,31,457
6,14-05-2015,2687,5614,4.17,2,782.000,216,13,1,9830,381,28,12,415
7,15-05-2015,2793,8169,6.07,14,801.000,218,8,7,1092,269,34,16,306
8,16-05-2015,4061,19971,14.84,18,532.000,247,101,118,27,452,26,18,507
9,17-05-2015,3349,852,6.33,12,606.000,186,46,73,1766,269,17,11,291
10,18-05-2015,2961,11998,8.91,20,936.000,189,18,51,1371,167,9,8,180
11,19-05-2015,2911,12425,9.23,14,827.000,186,18,54,1351,368,50,27,420
12,20-05-2015,2569,6008,4.46,8,783.000,214,15,2,9390,386,30,22,420
13,21-05-2015,3228,16291,12.10,18,616.000,237,48,52,1766,351,46,26,399
14,22-05-2015,2529,6111,4.54,8,820.000,190,14,5,8820,314,32,26,353
15,23-05-2015,4197,17928,13.32,17,533.000,262,79,132,288,432,35,24,469
16,24-05-2015,3899,13893,10.32,6,641.000,222,33,140,2502,224,24,19,270
17,25-05-2015,2519,5109,3.80,8,861.000,200,0,0,8470,0,0,0,0
18,26-05-2015,2357,443,3.29,6,1.269,156,0,0,6440,389,39,28,430
19,27-05-2015,3209,7498,5.57,18,692.000,196,64,50,1676,381,24,17,412
20,28-05-2015,2811,849,6.31,14,771.000,212,8,13,1148,417,66,32,486
21,29-05-2015,2558,565,4.20,8,789.000,208,0,0,8900,464,35,26,503
22,30-05-2015,417,21479,15.98,16,503.000,230,55,153,2794,328,53,25,382
23,31-05-2015,3533,18995,14.11,12,660.000,269,86,43,2092,426,54,33,495
24,01-06-2015,3354,16836,12.51,8,586.000,248,35,70,1862,430,41,26,484
25,02-06-2015,3369,15944,11.85,29,640.000,214,15,93,1827,376,46,34,436
26,03-06-2015,3168,14273,10.60,11,721.000,178,16,89,1592,312,44,29,369
27,04-06-2015,347,1606,11.93,11,724.000,239,38,70,1939,388,21,15,415
28,05-06-2015,3134,13594,10.10,16,677.000,215,36,52,1583,409,56,34,468
29,06-06-2015,3436,1548,11.50,11,520.000,246,78,42,1927,426,54,27,495
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170,25-10-2015,3435,14777,10.98,0,597.000,302,57,39,1943,0,0,0,0
171,26-10-2015,2931,9171,6.81,9,767.000,273,30,7,1414,0,0,0,0
172,27-10-2015,2867,8807,6.54,11,810.000,224,29,12,1275,136,21,10,157
173,28-10-2015,247,5623,4.18,2,779.000,170,19,3,8170,209,14,6,223
174,29-10-2015,3109,1291,9.59,20,1.091,258,24,20,1519,365,19,14,384
175,30-10-2015,2942,8805,6.54,12,821.000,170,51,29,1264,151,16,10,167
176,31-10-2015,2736,7107,5.28,0,510.000,277,0,0,1162,226,24,15,250
177,01-11-2015,2395,3862,2.87,0,889.000,166,0,0,6610,405,44,23,449
178,02-11-2015,259,7368,5.47,13,1.279,126,22,13,7770,276,28,14,304
179,03-11-2015,2403,6269,4.66,9,1.430,10,0,0,370,0,0,0,0
180,04-11-2015,2917,852,6.33,14,662.000,191,43,24,1294,155,8,5,163
181,05-11-2015,2851,8116,6.03,13,827.000,228,37,8,1258,383,41,23,424
182,06-11-2015,282,8268,6.14,14,776.000,145,75,22,1218,319,15,7,334
183,07-11-2015,369,14489,10.77,0,525.000,280,52,68,2285,0,0,0,0
184,08-11-2015,3067,9212,6.84,2,508.000,198,27,53,151,0,0,0,0
185,09-11-2015,2828,95,7.06,0,756.000,218,28,13,1225,345,41,21,386
186,10-11-2015,3336,11151,8.29,1,705.000,198,40,79,1799,383,47,28,431
187,11-11-2015,2867,12351,9.18,1,981.000,181,66,24,1353,391,23,11,414
188,12-11-2015,2847,1067,7.93,1,684.000,162,17,61,1228,231,26,15,257
189,13-11-2015,246,5574,4.14,1,1.209,156,8,16,7780,526,30,17,556
190,14-11-2015,3445,11587,8.61,4,608.000,159,41,103,1953,369,62,37,440
191,15-11-2015,2853,9499,7.06,2,738.000,167,28,44,1219,291,46,26,337
192,16-11-2015,359,13788,10.53,18,978.000,282,31,61,199,143,8,5,151
193,17-11-2015,3792,18361,13.72,33,543.000,366,73,42,2462,503,50,31,553
194,18-11-2015,3222,14055,10.44,10,673.000,268,53,27,1771,0,0,0,0
195,19-11-2015,3092,11927,8.86,9,726.000,305,21,37,165,524,32,14,556
196,20-11-2015,3395,15221,11.31,6,464.000,316,40,58,2004,269,36,21,307
197,21-11-2015,2802,8568,6.42,1,1.174,249,3,14,1209,0,0,0,0
198,22-11-2015,2177,3284,2.44,0,1.269,98,3,8,4770,378,32,23,410
199,23-11-2015,3035,9408,6.99,1,682.000,295,31,14,1552,424,31,24,462

In [104]:
fitbit[['Minutes Sedentary']].max(axis=0)

Minutes Sedentary    998.0
dtype: float64

#### Explore you dataset in terms of data types and descriptive statistics
#### *Hint: Use Pandas functions from previous lectures*

In [78]:
# your answer here
fitbit.describe

<bound method NDFrame.describe of            Date  Calorie burned  Steps  Distance  Floors  Minutes Sedentary  \
0    08-05-2015            1934    905      0.65       0              1.355
1    09-05-2015            3631  18925     14.11       4            611.000
2    10-05-2015            3204  14228     10.57       1            602.000
3    11-05-2015            2673   6756      5.02       8            749.000
4    12-05-2015            2495    502      3.73       1            876.000
5    13-05-2015             276    779      5.79      15            726.000
6    14-05-2015            2687   5614      4.17       2            782.000
7    15-05-2015            2793   8169      6.07      14            801.000
8    16-05-2015            4061  19971     14.84      18            532.000
9    17-05-2015            3349    852      6.33      12            606.000
10   18-05-2015            2961  11998      8.91      20            936.000
11   19-05-2015            2911  12425      9.23      14            827.000
12   20-05-2015            2569   6008      4.46       8            783.000
13   21-05-2015            3228  16291     12.10      18            616.000
14   22-05-2015            2529   6111      4.54       8            820.000
15   23-05-2015            4197  17928     13.32      17            533.000
16   24-05-2015            3899  13893     10.32       6            641.000
17   25-05-2015            2519   5109      3.80       8            861.000
18   26-05-2015            2357    443      3.29       6              1.269
19   27-05-2015            3209   7498      5.57      18            692.000
20   28-05-2015            2811    849      6.31      14            771.000
21   29-05-2015            2558    565      4.20       8            789.000
22   30-05-2015             417  21479     15.98      16            503.000
23   31-05-2015            3533  18995     14.11      12            660.000
24   01-06-2015            3354  16836     12.51       8            586.000
25   02-06-2015            3369  15944     11.85      29            640.000
26   03-06-2015            3168  14273     10.60      11            721.000
27   04-06-2015             347   1606     11.93      11            724.000
28   05-06-2015            3134  13594     10.10      16            677.000
29   06-06-2015            3436   1548     11.50      11            520.000
..          ...             ...    ...       ...     ...                ...
337  08-04-2016            3241  13441     10.04       2            449.000
338  09-04-2016            3038  10216      7.59       0            535.000
339  10-04-2016            2304   5634      4.19       0            921.000
340  11-04-2016            3419  17422     13.38      34            674.000
341  12-04-2016            3179  14475     10.92      14            664.000
342  13-04-2016            3427  17777     13.66      20            696.000
343  14-04-2016            3479  19087     14.65      17            711.000
344  15-04-2016            3501   1629     12.20      12            467.000
345  16-04-2016            3342  14252     10.64       6            675.000
346  17-04-2016            2769   8262      6.14       3              1.089
347  18-04-2016            3486   1945     15.06      18            860.000
348  19-04-2016            3596  17232     13.61      17              1.002
349  20-04-2016            3321  16946     12.93      25            762.000
350  21-04-2016            3464  19183     14.67      24            723.000
351  22-04-2016            3328  12963      9.66      10            404.000
352  23-04-2016            2612   6456      4.80       6            782.000
353  24-04-2016            2863  10413      7.73       6            700.000
354  25-04-2016            3175  10499      7.80       0            661.000
355  26-04-2016            3357  17226     12.97      19            751.000
356  27-04-2016            3631  19784     15.51      25            694.000
357  28-04-2016             403  25571     19.30      15            606.000
358  29-04-2016            3442  17528     13.36      15            594.000
359  30-04-2016            3061   9831      7.30       1            561.000
360  01-05-2016            3331  14262     10.60       5            666.000
361  02-05-2016            2989  13236      9.98      12            770.000
362  03-05-2016            3796  18588     14.13      16            599.000
363  04-05-2016            3525  16382     12.39      16            684.000
364  05-05-2016            3649  21913     16.40      19            701.000
365  06-05-2016            3539  19023     14.79      15            575.000
366  07-05-2016             304   9526      7.08       2            564.000

     Minutes Lightly Active  Minutes Fairly Active  Minutes Very Active  \
0                        46                      0                    0
1                       316                     61                   60
2                       226                     14                   77
3                       190                     23                    4
4                       171                      0                    0
5                       172                     34                   18
6                       216                     13                    1
7                       218                      8                    7
8                       247                    101                  118
9                       186                     46                   73
10                      189                     18                   51
11                      186                     18                   54
12                      214                     15                    2
13                      237                     48                   52
14                      190                     14                    5
15                      262                     79                  132
16                      222                     33                  140
17                      200                      0                    0
18                      156                      0                    0
19                      196                     64                   50
20                      212                      8                   13
21                      208                      0                    0
22                      230                     55                  153
23                      269                     86                   43
24                      248                     35                   70
25                      214                     15                   93
26                      178                     16                   89
27                      239                     38                   70
28                      215                     36                   52
29                      246                     78                   42
..                      ...                    ...                  ...
337                     439                      0                    0
338                     390                      0                    0
339                      92                     41                    4
340                     290                     14                   61
341                     291                     10                   47
342                     276                     10                   80
343                     221                     12                   96
344                     427                     25                   11
345                     323                     60                   18
346                     302                      0                    0
347                     190                      6                   98
348                     262                      4                   88
349                     238                      5                   67
350                     218                      7                   97
351                     436                     14                   10
352                     305                      0                    0
353                     269                     28                   24
354                     430                      9                    4
355                     185                     16                   95
356                     151                     26                  128
357                     293                     42                  129
358                     239                      8                   82
359                     414                      0                    0
360                     361                     21                   41
361                     234                      8                   38
362                     275                     49                   79
363                     333                     10                   55
364                     287                     29                   90
365                     298                      8                   85
366                     370                     13                   10

     Activity Calories  MinutesOfSleep  MinutesOfBeingAwake  NumberOfAwakings  \
0                 1680             384                   26                23
1                 2248             454                   35                21
2                 1719             387                   46                25
3                 9620             311                   31                21
4                 7360             407                   65                44
5                 1094             405                   47                31
6                 9830             381                   28                12
7                 1092             269                   34                16
8                   27             452                   26                18
9                 1766             269                   17                11
10                1371             167                    9                 8
11                1351             368                   50                27
12                9390             386                   30                22
13                1766             351                   46                26
14                8820             314                   32                26
15                 288             432                   35                24
16                2502             224                   24                19
17                8470               0                    0                 0
18                6440             389                   39                28
19                1676             381                   24                17
20                1148             417                   66                32
21                8900             464                   35                26
22                2794             328                   53                25
23                2092             426                   54                33
24                1862             430                   41                26
25                1827             376                   46                34
26                1592             312                   44                29
27                1939             388                   21                15
28                1583             409                   56                34
29                1927             426                   54                27
..                 ...             ...                  ...               ...
337               1874             379                   46                24
338               1607             507                   18                10
339               6590             306                   35                22
340               1928             407                   50                26
341               1696             354                   37                21
342               1967             365                   65                31
343               1954             278                   26                18
344               2166             396                   50                20
345               1947             404                   67                25
346               1266               0                    0                 0
347               1926             307                   28                12
348               2085               0                    0                 0
349               1795             411                   31                17
350               1964             341                   27                17
351                202             430                   62                39
352               1135             305                   42                28
353               1411             375                   56                31
354               1805             237                   28                14
355               1798             360                   20                10
356                207             361                   49                27
357               2711             374                   56                34
358               1931             348                   20                 9
359               1651             454                   48                27
360               1937             347                   41                20
361               1477             314                   34                23
362                236             377                   33                18
363               2075             406                   21                 8
364               2249             280                   35                15
365               2112             370                   42                22
366               1604             502                   57                31

     LengthOfRestInMinutes
0                      417
1                      491
2                      436
3                      350
4                      491
5                      457
6                      415
7                      306
8                      507
9                      291
10                     180
11                     420
12                     420
13                     399
14                     353
15                     469
16                     270
17                       0
18                     430
19                     412
20                     486
21                     503
22                     382
23                     495
24                     484
25                     436
26                     369
27                     415
28                     468
29                     495
..                     ...
337                    425
338                    525
339                    341
340                    457
341                    391
342                    430
343                    304
344                    446
345                    471
346                      0
347                    335
348                      0
349                    442
350                    368
351                    492
352                    348
353                    431
354                    265
355                    380
356                    410
357                    430
358                    368
359                    502
360                    388
361                    348
362                    410
363                    427
364                    315
365                    412
366                    563

[367 rows x 14 columns]>

In [94]:
# your answer here
import pprint
from pprint import pprint

print(fitbit.columns)
print("\n")
print(fitbit.dtypes)

Index(['Date', 'Calorie burned', 'Steps', 'Distance', 'Floors',
       'Minutes Sedentary', 'Minutes Lightly Active', 'Minutes Fairly Active',
       'Minutes Very Active', 'Activity Calories', 'MinutesOfSleep',
       'MinutesOfBeingAwake', 'NumberOfAwakings', 'LengthOfRestInMinutes'],
      dtype='object')


Date                       object
Calorie burned              int64
Steps                       int64
Distance                  float64
Floors                      int64
Minutes Sedentary         float64
Minutes Lightly Active      int64
Minutes Fairly Active       int64
Minutes Very Active         int64
Activity Calories           int64
MinutesOfSleep              int64
MinutesOfBeingAwake         int64
NumberOfAwakings            int64
LengthOfRestInMinutes       int64
dtype: object

#### You suspect that there must be a linear relationship between the Minutes Very Active and the Steps. Compute the correlation between these variables.

In [120]:
# your answer here
if fitbit['Steps'].corr(fitbit['Minutes Very Active']) > 0.8:
    print("There is a high correlation between both variables")
else:
    print("There is a poor corelation betwen both variables")

0.5714518481062608

#### Use matplotlib to visually plot Minutes Very active vs Steps. 

##### Hint : import matplotlib.pyplot as plt (See previous lessons)#####
- Use plt.scatter(x=df['col_name_1'], y=df['col_name_2'])

In [118]:
# your answer here
import plotly.plotly as py
import cufflinks as cf
import pandas as pd

cf.go_offline()
activity_table = fitbit[['Steps','Minutes Very Active']]
activity_table.iplot(kind='hist', 
    x=activity_table['Minutes Very Active'],
    y=activity_table['Steps'],
    xTitle='Activity', 
    yTitle='Number of Steps', 
    title='Affectation in Steps by Activity')

In [109]:


activity_table.scatter_matrix(filename='cufflinks/scatter-matrix', world_readable=True)

#### What can you say about Minute Very Active and Steps? Write a comment below

In [19]:
# your comment here

#### We also suspect that there must be a linear relationship between the Minutes Sedentary and the Steps. Compute the correlation between these variables.

In [20]:
# your answer here

#### Use matplotlib to visually plot Minutes Sedentary vs Steps. Based on the results of the computed correlation and the plot. What can you say about these 2 variables?

In [21]:
# your answer here

In [22]:
# Your comment here

#### We also suspect that there must be a linear relationship between the MinutesOfSleep and the Steps. Compute the correlation between these variables.

In [23]:
# your answer here

#### Use matplotlib to visually plot MinutesOfSleep vs Steps. Based on the results of the computed correlation and the plot. What can you say about these 2 variables?

In [24]:
# your answer here

#### Select a subset of your dataset with the columns below and compute the correlation matrix. Save the results in the variable `cor_fit`
column= ['Calorie burned', 'Steps','Floors','Minutes Sedentary','Minutes Very Active', 'MinutesOfSleep']

In [25]:
# your answer here

In [26]:
#Print cor_fit

#### Based on the result of the correlation matrix. What are the highly correlated features with the variable Steps?
*Hint: From the results above select the variable Steps and order your results in descending order (use Pandas sort_values function)*

In [27]:
# your answer here

# Challenge 3

#### Open the `Time_Grades.csv` file and name your dataset `time_grades`

In [28]:
# your answer here

In [29]:
#Print time_grades

#### Show visually the frequency distribution of the time_grades dataset.

In [30]:
# your answer here

#### Is there a correaltion between study time and Grade? Use both Pearson and Spearman correlation and comment your results.

In [31]:
# your answer here-Pearson

In [32]:
## your answer here-Spearman

#### Use matplotlib to visually plot Study time vs Grade. Based on the results of the computed correlation and the plot. What can you say about these 2 variables?

In [33]:
# your answer here

In [34]:
#your comment here

#### Could you explain the difference between Pearson and Spearman correlation? (see References in README.md)

In [35]:
#your comment here