BABY SHACK

In [82]:
import pandas as pd
df = pd.read_csv('/Users/davidlafuentemartin/IRONHACK/git/data-labs/module-1/pandas-project/your-code/CSV_source/GSAF5.csv',encoding = "latin1")
df2 = df
df.head(10)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.c,2016.09.18.c,5993,NaN,NaN
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.b,2016.09.18.b,5992,NaN,NaN
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.a,2016.09.18.a,5991,NaN,NaN
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,...,NaN,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.17,2016.09.17,5990,NaN,NaN
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,...,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.16,2016.09.15,5989,NaN,NaN
5,2016.09.15.R,15-Sep-16,2016,Boat,AUSTRALIA,Western Australia,Bunbury,Fishing,Occupant: Ben Stratton,NaN,...,NaN,"West Australian, 9/15/2016",2016.09.15.R-boat.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.15.R,2016.09.15.R,5988,NaN,NaN
6,2016.09.11,11-Sep-16,2016,Unprovoked,USA,Florida,"Ponte Vedra, St. Johns County",Wading,male,M,...,3' to 4' shark,"News4Jax, 9/11/2016",2016.09.11-PonteVedra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.11,2016.09.11,5987,NaN,NaN
7,2016.09.07,07-Sep-16,2016,Unprovoked,USA,Hawaii,"Makaha, Oahu",Swimming,female,F,...,"Tiger shark, 10?","Hawaii News Now, 9/7/2016",2016.09.07-Oahu.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.07,2016.09.07,5986,NaN,NaN
8,2016.09.06,06-Sep-16,2016,Unprovoked,NEW CALEDONIA,North Province,Koumac,Kite surfing,David Jewell,M,...,NaN,"TVANouvelles, 9/6/2016",2016.09.06-Jewell.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.06,2016.09.06,5985,NaN,NaN
9,2016.09.05.b,05-Sep-16,2016,Unprovoked,USA,South Carolina,"Kingston Plantation, Myrtle Beach, Horry County",Boogie boarding,Rylie Williams,F,...,NaN,"C. Creswell, GSAF",2016.09.05.b-Williams.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.05.b,2016.09.05.b,5984,NaN,NaN

In [83]:
#counting the total rows at the start
limits = df.shape
lines_start = limits[0]
print("Lines at start:",lines_start)

#counting the nulls for every columms
print(df.isnull().sum())
#colummns "Unnamed: 22" and "Unnamed: 23" has almost the total number of row with null, so I will directly delete
df.drop(columns=['Unnamed: 22','Unnamed: 23'],inplace=True)

Lines at start: 5992
Case Number                  0
Date                         0
Year                         0
Type                         0
Country                     43
Area                       402
Location                   496
Activity                   527
Name                       200
Sex                        567
Age                       2681
Injury                      27
Fatal (Y/N)                 19
Time                      3213
Species                   2934
Investigator or Source      15
pdf                          0
href formula                 1
href                         3
Case Number.1                0
Case Number.2                0
original order               0
Unnamed: 22               5991
Unnamed: 23               5990
dtype: int64

In [121]:
#Rename in a better way the columns names
#Print of list_columns show that there are spaces in some names, others 
#are separated names or has '.'. After repair names, we put again into 
#df.columns
#df=df.rename(columns = {'Case Number':'CaseNumber'}) #one by one

list_columns = df.columns
list_columns = ['CaseNumber', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex', 'Age', 'Injury', 'Fatal', 'Time',
       'Species', 'Investigator/Source', 'pdf', 'href_formula', 'href',
       'CaseNumber1', 'CaseNumber2', 'original_order']

print(list_columns)
df.columns = list_columns

['CaseNumber', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location', 'Activity', 'Name', 'Sex', 'Age', 'Injury', 'Fatal', 'Time', 'Species', 'Investigator/Source', 'pdf', 'href_formula', 'href', 'CaseNumber1', 'CaseNumber2', 'original_order']

In [123]:
#"href formula" and "href" seem to be equal, lets compare
difference_pdf = df['href_formula'] != df['href']
#print(difference_pdf)
df_difference_pdf = df[difference_pdf]
print("Number of differences: ",len(df_difference_pdf))
df_difference_pdf[['href_formula','href']].head(10)

#there is no better row in here, there are differences and not address in
#both columns, so I will not erase any of them

Number of differences:  54

,href_formula,href
20,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
27,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
61,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
107,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
114,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
134,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
180,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
193,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN
232,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
262,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...

In [138]:
#"href formula" and "href" seem to be equal, lets compare
difference_casenumber = df['CaseNumber1'] != df['CaseNumber2']
df_difference_casenumber = df[difference_casenumber]
print("Number of differences: ",len(df_difference_casenumber))
print(df_difference_pdf[['CaseNumber1','CaseNumber2']])

#At quick glance, even the different rows seems identical, may be there 
#are some spaces, let look into this rows
print(df[difference_casenumber].CaseNumber1.tolist())
print(df[difference_casenumber].CaseNumber2.tolist())

Number of differences:  11
       CaseNumber1   CaseNumber2
20      2016.07.29    2016.07.29
27    2016.07.23.a  2016.07.23.a
61    2016.05.21.a  2016.05.21.a
107   2015.12.21.a  2015.12.21.a
114   2015.11.15.a  2015.11.15.a
134   2015.10.05.a  2015.10.05.a
180   2015.06.27.a  2015.06.27.a
193     2015.06.13    2015.06.13
232     2015.01.24    2015.01.24
262     2014.10.19    2014.10.19
263     2014.10.18    2014.10.18
264     2014.10.17    2014.10.17
271   2014.10.03.b  2014.10.03.b
272   2014.10.03.a  2014.10.03.a
293     2014.08.12    2014.08.12
305     2014.07.22    2014.07.22
323   2014.06.09.a  2014.06.09.a
347     2014.04.03    2014.04.03
361   2014.02.07.b  2014.02.07.b
362     2014.02.07    2014.02.07
363     2014.01.26    2014.01.26
364     2014.01.25    2014.01.25
365     2014.01.04    2014.01.04
367     2013.12.25    2013.12.25
377     2013.11.22    2013.11.22
378     2013.11.12    2013.11.12
379     2013.11.10    2013.11.10
380   2013.11.07.b  2013.11.07.b
381   2013.11.07.a  2013.11.07.a
382     2013.10.31    2013.10.31
383     2013.10.28    2013.10.28
384   2013.10.26.b  2013.10.26.b
448   2013.05.27.b  2013.05.27.b
449   2013.05.27.a  2013.05.27.a
823     2010.02.01    2010.02.01
1217  2006.08.22.b  2006.08.22.b
1218  2006.08.22.a  2006.08.22.a
2274    1993.04.00    1993.04.00
2477  1989.00.00.a  1989.00.00.a
3019    1975.01.19    1975.01.19
3549  1963.00.00.a  1963.00.00.a
3603  1962.03.25.b  1962.03.25.b
3917    1958.08.31    1958.08.31
3928  1958.07.00.b  1958.07.00.b
4394    1945.07.30    1945.07.30
4642    1936.08.04    1936.08.04
4668    1935.08.24    1935.08.24
4719  1934.02.08.R  1934.02.08.R
5317    1900.09.05    1900.09.05
5458    1890.06.26    1890.06.26
5686    1864.01.02    1864.01.02
5694  1863.00.00.R  1863.00.00.R
5819  1819.07.08.R  1819.07.08.R
5857  1637.00.00.R  1637.00.00.R
['2016.09.16', '2016.07.14.R', '2015.01.24.b', '2015.11.07', '2015.10.28', '1967/07.05', '1962.08.30.b', '1961.09,06.R', '1952.08.04', '1919.00.00.R', '1911.07.31.T']
['2016.09.15', '2016.07.14.4', '2016.01.24.b', '2015.12.23', '2015.10.28.a', '1967.07.05', '1962,08.30.b', '1961.09.02.R', '1952.08.05', '1900.00.00.R', '1911.07.31.R']

In [131]:
"""
count = 1
df2['equals from href formula & href'] = df['href formula'] == df['href']
#df2[['equals from href formula & href','href formula','href']]
for line in df2['equals from href formula & href']:
    if line == False:
        count += 1
print("falses:",count)

"""

'\ncount = 1\ndf2[\'equals from href formula & href\'] = df[\'href formula\'] == df[\'href\']\n#df2[[\'equals from href formula & href\',\'href formula\',\'href\']]\nfor line in df2[\'equals from href formula & href\']:\n    if line == False:\n        count += 1\nprint("falses:",count)\n\n'