# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import pandas as pd
import numpy as np

# Challenge 1 - Index Functions

In this challenge, we will practice the advanced functions introduced in the lesson. However, before we start, we will load and evaluate our dataset.

In [14]:
# Run this code:

admissions = pd.read_csv('../Admission_Predict.csv')
#to remove trailing spaces at the end of the column names
admissions.columns = admissions.columns.str.rstrip()

Let's evaluate the dataset by looking at the `head` function.

In [3]:
# Your code here:
admissions.head(10)

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90
5,6,321,109,3,3.0,4.0,8.20,1,0.75
6,7,308,101,2,3.0,4.0,7.90,0,0.68
7,8,302,102,1,2.0,1.5,8.00,0,0.50
8,9,323,108,3,3.5,3.0,8.60,0,0.45
9,10,327,111,4,4.0,4.5,9.00,1,0.84

Before beginning to work with this dataset and evaluating graduate admissions data, we will verify that there is no missing data in the dataset. Do this in the cell below.

In [4]:
# Your code here:
admissions.isnull().values.sum()

0

Interestingly, there is a column that uniquely identifies the applicants. This column is the serial number column. Instead of having our own index, we should make this column our index. Do this in the cell below. Keep the column in the dataframe in addition to making it an index.

In [15]:
# Your code here:
admissions['Index'] = admissions['Serial No.']
admissions.set_index('Index')
admissions.head(10)

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit,Index
0,1,337,118,4,4.5,4.5,9.65,1,0.92,1
1,2,316,104,3,3.0,3.5,8.00,1,0.72,2
2,3,322,110,3,3.5,2.5,8.67,1,0.80,3
3,4,314,103,2,2.0,3.0,8.21,0,0.65,4
4,5,330,115,5,4.5,3.0,9.34,1,0.90,5
5,6,321,109,3,3.0,4.0,8.20,1,0.75,6
6,7,308,101,2,3.0,4.0,7.90,0,0.68,7
7,8,302,102,1,2.0,1.5,8.00,0,0.50,8
8,9,323,108,3,3.5,3.0,8.60,0,0.45,9
9,10,327,111,4,4.0,4.5,9.00,1,0.84,10

Turns out that `GRE Score` and `CGPA` also uniquely identify the data. Show this in the cell below.

In [6]:
admissions.shape

(385, 10)

In [7]:
# Your code here:
admissions.shape

print(len(admissions['GRE Score'].unique()))
print(len(admissions['CGPA'].unique()))
#Clearly there are not uniques values at the columns

print(len(admissions['GRE Score'].duplicated()))
print(len(admissions['CGPA'].duplicated()))
#there is not a match between total minus duplicated and unique. why?

49
168
385
385

Replace the index with an index comprised of two columns - `GRE Score` and `CGPA`. Remove the columns from the dataset as well. Make sure to use `inplace=True`.

In [16]:
# Your code here:
admissions.set_index(['GRE Score','CGPA'],inplace=True,drop=True)
admissions

,,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,Index
GRE Score,CGPA,,,,,,,,
337,9.65,1,118,4,4.5,4.5,1,0.92,1
316,8.00,2,104,3,3.0,3.5,1,0.72,2
322,8.67,3,110,3,3.5,2.5,1,0.80,3
314,8.21,4,103,2,2.0,3.0,0,0.65,4
330,9.34,5,115,5,4.5,3.0,1,0.90,5
321,8.20,6,109,3,3.0,4.0,1,0.75,6
308,7.90,7,101,2,3.0,4.0,0,0.68,7
302,8.00,8,102,1,2.0,1.5,0,0.50,8
323,8.60,9,108,3,3.5,3.0,0,0.45,9
327,9.00,10,111,4,4.0,4.5,1,0.84,10
328,9.10,11,112,4,4.0,4.5,1,0.78,11
307,8.00,12,109,3,4.0,3.0,1,0.62,12
311,8.20,13,104,3,3.5,2.0,1,0.61,13
314,8.30,14,105,3,3.5,2.5,0,0.54,14
317,8.70,15,107,3,4.0,3.0,0,0.66,15
319,8.00,16,106,3,4.0,3.0,1,0.65,16
318,8.80,17,110,3,4.0,3.0,0,0.63,17
303,8.50,18,102,3,3.5,3.0,0,0.62,18
325,8.40,19,114,4,3.0,2.0,0,0.70,19
328,9.50,20,116,5,5.0,5.0,1,0.94,20
334,9.70,21,119,5,5.0,4.5,1,0.95,21
336,9.80,22,119,5,4.0,3.5,1,0.97,22
322,8.80,23,109,5,4.5,3.5,0,0.76,23
298,7.50,24,98,2,1.5,2.5,1,0.44,24
295,7.20,25,93,1,2.0,2.0,0,0.46,25
310,7.30,26,99,2,1.5,2.0,0,0.54,26
300,8.10,27,97,2,3.0,3.0,1,0.65,27
327,8.30,28,103,3,4.0,4.0,1,0.74,28
338,9.40,29,118,4,3.0,4.5,1,0.91,29
340,9.60,30,114,5,4.0,4.0,1,0.90,30
...,...,...,...,...,...,...,...,...,...
310,8.24,356,103,2,2.5,2.5,0,0.72,356
324,9.22,357,110,3,3.5,3.0,1,0.89,357
336,9.62,358,119,4,4.5,4.0,1,0.95,358
321,8.54,359,109,3,3.0,3.0,1,0.79,359
315,7.65,360,105,2,2.0,2.5,0,0.39,360
304,7.66,361,101,2,2.0,2.5,0,0.38,361
297,7.43,362,96,2,2.5,2.0,0,0.34,362
290,7.56,363,100,1,1.5,2.0,0,0.47,363
303,7.65,364,98,1,2.0,2.5,0,0.56,364
311,8.43,365,99,1,2.5,3.0,1,0.71,365
322,8.84,366,104,3,3.5,4.0,1,0.78,366
319,8.67,367,105,3,3.0,3.5,1,0.73,367
324,9.15,368,110,4,4.5,4.0,1,0.82,368
300,8.26,369,100,3,3.0,3.5,0,0.62,369
340,9.74,370,113,4,5.0,5.0,1,0.96,370
335,9.82,371,117,5,5.0,5.0,1,0.96,371
302,7.96,372,101,2,2.5,3.5,0,0.46,372
307,8.10,373,105,2,2.0,3.5,0,0.53,373
296,7.80,374,97,2,1.5,2.0,0,0.49,374
320,8.44,375,108,3,3.5,4.0,1,0.76,375
314,8.24,376,102,2,2.0,2.5,0,0.64,376
318,8.65,377,106,3,2.0,3.0,0,0.71,377
326,9.12,378,112,4,4.0,3.5,1,0.84,378
317,8.76,379,104,2,3.0,3.0,0,0.77,379
329,9.23,380,111,4,4.5,4.0,1,0.89,380
324,9.04,381,110,3,3.5,3.5,1,0.82,381
325,9.11,382,107,3,3.0,3.5,1,0.84,382
330,9.45,383,116,4,5.0,4.5,1,0.91,383
312,8.78,384,103,3,3.5,4.0,0,0.67,384
333,9.66,385,117,4,5.0,4.0,1,0.95,385

Now change the index back to a sequence starting at zero using the `reset_index` function. Make sure to use `inplace=True`.

In [18]:
admissions.reset_index(inplace=True)
admissions.head(10)

,index,GRE Score,CGPA,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,Index
0,0,337,9.65,1,118,4,4.5,4.5,1,0.92,1
1,1,316,8.00,2,104,3,3.0,3.5,1,0.72,2
2,2,322,8.67,3,110,3,3.5,2.5,1,0.80,3
3,3,314,8.21,4,103,2,2.0,3.0,0,0.65,4
4,4,330,9.34,5,115,5,4.5,3.0,1,0.90,5
5,5,321,8.20,6,109,3,3.0,4.0,1,0.75,6
6,6,308,7.90,7,101,2,3.0,4.0,0,0.68,7
7,7,302,8.00,8,102,1,2.0,1.5,0,0.50,8
8,8,323,8.60,9,108,3,3.5,3.0,0,0.45,9
9,9,327,9.00,10,111,4,4.0,4.5,1,0.84,10

# Challenge 2 - Advanced Functions

In this part of the lab, we would like to test complex conditions on the entire dataset at once. Let's start by finding the number of rows where the CGPA is higher than 9 and the student has conducted research.

In [9]:
# Your code here:

Now return all the rows where the CGPA is greater than 9 and the SOP score is less than 3.5. Find the mean chance of admit for these applicants.

In [10]:
# Your code here:

We would like to create a deciding factor column for each student. We standardize several columns and then pick the most important factor from a lookup table. If the standardized value is above 0.8, the student will be accepted.

We will start by creating a standardized column for `CGPA`, `GRE Score` and `LOR`. We will name these columns `CGPA_std`, `GRE_std`, and `LOR_std` respecively.

Recall that standardizing a column is done by subtracting the mean of the column from all observations in the column and then dividing each observation in the column by the column's standard deviation.

In the cell below, write a standardization function (a function that takes a column as input and returns a standardized column as output). Make sure to use the `numpy` versions of mean and standard deviation.

In [11]:
def standardize(col):
    # This function takes a column from a dataframe and returns a standardized column by subtracting the column's mean
    # and dividing by the column's standard deviation.
    
    # Your code here:

SyntaxError: unexpected EOF while parsing (<ipython-input-11-ee3135619f50>, line 5)

Now create the standardized columns `CGPA_std`, `GRE_std`, and `LOR_std` and add them to the `admissions` dataframe.

In [ ]:
# Your code here:

We will generate the decision choice at random using the code below. Please run the cell.

In [ ]:
# Run this code:

from random import choices
std_columns = ['CGPA_std', 'GRE_std', 'LOR_std']

decision_choice = choices(std_columns, k=admissions.shape[0])

Now create the deciding column using the `lookup` function. The lookup column is `decision_choice` found above. Call the column resulting from the lookup function `deciding_column` and add it to the `admissions` dataframe.

In [ ]:
# Your code here:

Create a column called `decision` in the `admissions` dataframe. Assign 1 to this column if the value of `deciding_column` is greater than 0.8 and 0 otherwise.

In [ ]:
# Your code here:

How many applicants will be accepted to the program using the decision column? Compute the result below.

In [ ]:
# Your code here:

# Challenge 3 - Method Chaining

To increase our coding efficiency, let's make a number of changes to our dataframe in one line of code.

In the cell below, remove all non character symbols from the column names, replace all spaces in column names to underscores, and change all upper case characters to lower case. Assign these new column values to `admissions.columns`.

In [ ]:
# Your code here:

In the cell below, give all student with a university rating of 4 or higher a 10 point boost on their GRE score and split the column into 4 bins using the `cut` function. Assign this new score to the variable `adjusted_gre`.

In [ ]:
# Your code here: