# Challenge 3

In this challenge we will work on the `Orders.csv` data set in the previous [Subsetting and Descriptive Stats lab](../../lab-subsetting-and-descriptive-stats/your-code/main.ipynb). In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

# Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [1]:
# import required libraries
import numpy as np
import pandas as pd

Next, import `Orders.csv` from the "subsetting" lab folder into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [2]:
# enter your code here
orders = pd.read_csv("../../lab-subsetting-and-descriptive-stats/your-code/Orders.csv")
orders.head()

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [23]:
from pandas import pivot_table

# your code here for Sub Problem 1
spent_by_customer = pivot_table(orders, index=['CustomerID'], aggfunc={'amount_spent': sum})
spent_by_customer = spent_by_customer.sort_values('amount_spent',ascending=False)
spent_by_customer.head()

            amount_spent
CustomerID
14646          280206.02
18102          259657.30
17450          194550.79
16446          168472.50
14911          143825.06

In [50]:
# your code here for Sub Problem 3

#calculate the limits regarding quantiles
vip_limit = spent_by_customer.quantile(0.95)[0]
print("Limit for VIP customers:",vip_limit)

preferred_limit = spent_by_customer.quantile(0.75)[0]
print("Limit for PREFERRED customer:",preferred_limit)

#select customer by its group
vip_customers = spent_by_customer[spent_by_customer['amount_spent'] > vip_limit]

print("\nTable of VIP customers")
vip_customers.head()

Limit for VIP customers: 5840.181999999983
Limit for PREFERRED customer: 1661.6400000000003

Table of VIP customers

            amount_spent
CustomerID
14646          280206.02
18102          259657.30
17450          194550.79
16446          168472.50
14911          143825.06

In [39]:
#select customer by its group
preferred_customers = spent_by_customer[(spent_by_customer.amount_spent <= vip_limit) & (spent_by_customer.amount_spent > preferred_limit)]

print("\nTable of PREFERRED customers")
preferred_customers.head()

Table of PREFERRED customers

            amount_spent
CustomerID
13050            5836.86
12720            5781.73
15218            5756.89
17686            5739.46
13178            5725.47

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

# Q2: How to identify which country has the most VIP Customers?

# Q3: How to identify which country has the most VIP+Preferred Customers combined?

Provide your solution for Q2 below:

In [ ]:
# your code here

#groupby create an index that is a necessary column, so reset index in order to get column CustomerID again
vip_customers.reset_index(inplace=True)

In [55]:
orders[orders.CustomerID == vip_customers.CustomerID].Country

ValueError: Can only compare identically-labeled Series objects

In [57]:
orders[orders.CustomerID == orders.CustomerID.head()].Country

ValueError: Can only compare identically-labeled Series objects

In [ ]:
ยก